.container {
    width: 100%;

    .title {
        font-weight: bold;
        font-size: 40rpx;
        text-align: center;
        margin-top: 16rpx;
    }

    .nav-list {
        margin-top: 16rpx;

    }
}